@charset "UTF-8";
/*color*/
/*文字*/
/*老師範例:
.content {
  width: 1440px;
  font-size: $h1;
} */
.title_m {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 36px;
  color: #932639;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #932639;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #932639;
}

.content {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.nav {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #932639;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #932639;
  padding-top: 75px;
}

.footerfelx {
  display: flex;
  justify-content: space-between;
  max-width: 1134px;
  margin: 0 auto;
}

.footerfelx .footericon {
  width: 107px;
  height: 120px;
}

.footerfelx .footericon img {
  width: 107px;
  height: 120px;
}

.footerfelx .footericon p {
  font-size: 16px;
}

.footerfelx .footernav ul {
  width: 75px;
  height: 153px;
  padding: 0;
}

.footerfelx .footernav ul li {
  list-style: none;
  display: block;
  font-size: 18px;
  padding-bottom: 18px;
}

.footerfelx .footernav ul li a {
  text-decoration: none;
  display: block;
}

.footercom {
  width: 255px;
  height: 152px;
}

.footercom h1 {
  font-size: 18px;
}

.footercom p {
  font-size: 14px;
  line-height: 24px;
}

.footercom img {
  margin-top: 17px;
  margin-right: 15px;
}

.footertibame {
  width: 415px;
  height: 135px;
}

.footertibame h1 {
  font-size: 18px;
}

.footertibame p {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header.header {
  height: 70px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0;
  background-color: #fff;
  /* border: 1px solid green;     */
}

header.header a.logo_img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 10px;
  /* border: 1px solid green; */
}

header.header a.logo_img img {
  height: 60px;
}

header.header nav.nav {
  display: inline-block;
  vertical-align: middle;
}

header.header nav.nav ul.link_list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid orange; */
}

header.header nav.nav ul.link_list > li {
  display: inline-block;
}

nav.nav ul.link_list > li > a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
  min-width: 100px;
  font-size: 14px;
  color: #932639;
  /* border: 1px solid blue; */
}

header.header a.member {
  width: 24px;
  float: right;
  margin-top: 10px;
}

header.header a.cart {
  width: 24px;
  float: right;
  margin-top: 10px;
}

header.header a.member, header.header a.cart {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 8px 6px;
  min-width: 100px;
  font-size: 14px;
  color: #932639;
  /* border: 1px solid blue; */
}

header.header a.member img, header.header a.cart img {
  padding-right: 5px;
}

.btn_red {
  width: 146px;
  height: 40px;
  border-radius: 4px;
  background-color: #932639;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn_red:hover {
  background-color: #bc8129;
}

.btn_red_air {
  width: 146px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  color: #932639;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border: 1px solid #932639;
}

.btn_red_air:hover {
  border: 1px solid #bc8129;
  color: #bc8129;
}

.btn_red_small {
  width: 98px;
  height: 23px;
  border-radius: 3px;
  background-color: #932639;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn_red_small:hover {
  background-color: #bc8129;
}

.btn_red_small_air {
  width: 98px;
  height: 23px;
  border-radius: 3px;
  background-color: white;
  color: #932639;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border: 1px solid #932639;
}

.btn_red_small_air:hover {
  border: 1px solid #bc8129;
  color: #bc8129;
}

.page_number {
  display: flex;
  justify-content: center;
}

.page_number ul {
  padding: 0;
}

.page_number ul.pagination {
  display: flex;
}

.page_number ul.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border: 1px solid #932639;
  background-color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-decoration: none;
}

.page_number ul.pagination a:hover {
  border: 1px solid #932639;
  background-color: #932639;
}

.page_number ul.pagination a:hover li {
  color: #fff;
}

.page_number ul.pagination a:hover li svg {
  color: #fff;
}

.page_number svg {
  color: #932639;
  padding-top: 0.2em;
}

.page_number ul.pagination li {
  color: #932639;
  font-size: 14px;
  list-style: none;
}

.page_number ul.pagination a:nth-child(2) {
  border: 1px solid #932639;
  background-color: #932639;
  color: #fff;
}

.page_number ul.pagination a:nth-child(2) li {
  color: #fff;
}

img {
  color: #932639;
}

* {
  margin: 0;
  padding: 0;
}

.yellow {
  background-color: #fff4e3;
}

.gift_wrap {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.banner {
  display: flex;
  justify-content: center;
  height: 453px;
  align-items: center;
  background-color: #fff4e3;
  position: relative;
}

.banner .left,
.right {
  position: absolute;
}

.banner .left {
  top: 0;
  left: 0;
  max-width: 40%;
}

.banner .right {
  bottom: 0;
  right: 10px;
  max-width: 30%;
}

.banner .right img {
  margin-left: 5vw;
}

.gift_wrap .banner img {
  max-width: 100%;
}

.banner .middle .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #932639;
  font-family: "Noto Serif TC", serif;
}

.banner .middle .text h1 {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.8em;
}

.banner .middle .text h2 {
  color: #bc8129;
  font-size: 24px;
  margin-top: 1em;
}

.animation {
  background-color: #fff4e3;
  height: 507px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.animation .gif:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee01 12s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee02 14s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee03 16s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(4) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee04 18s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(5) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee05 20s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(6) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee06 22s linear infinite;
  z-index: 1;
}

.animation .gif img {
  transform: scale(0.8);
}

@keyframes marquee01 {
  0% {
    transform: translate(12vw, -5vw);
  }
  100% {
    transform: translate(-150vw, 0);
  }
}

@keyframes marquee02 {
  0% {
    transform: translate(27vw, 16vw);
  }
  100% {
    transform: translate(-150vw, 6vw);
  }
}

@keyframes marquee03 {
  0% {
    transform: translate(45vw, 5vw);
  }
  100% {
    transform: translate(-150vw, 12vw);
  }
}

@keyframes marquee04 {
  0% {
    transform: translate(60vw, 5vw);
  }
  100% {
    transform: translate(-150vw, 15vw);
  }
}

@keyframes marquee05 {
  0% {
    transform: translate(80vw, 12vw);
  }
  100% {
    transform: translate(-150vw, 20vw);
  }
}

@keyframes marquee06 {
  0% {
    transform: translate(110vw, 16vw);
  }
  100% {
    transform: translate(-150vw, 18vw);
  }
}

.animation .text_top {
  text-align: center;
  vertical-align: middle;
  color: #932639;
  font-size: 18px;
  line-height: 2em;
  z-index: 1000;
}

.animation .text_bottom {
  margin-top: 0.7em;
  text-align: center;
  color: #fff;
  font-size: 72px;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 0.7em;
  text-indent: 0.7em;
  -webkit-text-stroke: 3px #fff;
  z-index: 1000;
}

.index h1 {
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .index h1 {
    font-size: 20px;
  }
}

/*color*/
/*文字*/
/*老師範例:
.content {
  width: 1440px;
  font-size: $h1;
} */
.title_m {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 36px;
  color: #932639;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #932639;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #932639;
}

.content {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.nav {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #932639;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #932639;
  padding-top: 75px;
}

.footerfelx {
  display: flex;
  justify-content: space-between;
  max-width: 1134px;
  margin: 0 auto;
}

.footerfelx .footericon {
  width: 107px;
  height: 120px;
}

.footerfelx .footericon img {
  width: 107px;
  height: 120px;
}

.footerfelx .footericon p {
  font-size: 16px;
}

.footerfelx .footernav ul {
  width: 75px;
  height: 153px;
  padding: 0;
}

.footerfelx .footernav ul li {
  list-style: none;
  display: block;
  font-size: 18px;
  padding-bottom: 18px;
}

.footerfelx .footernav ul li a {
  text-decoration: none;
  display: block;
}

.footercom {
  width: 255px;
  height: 152px;
}

.footercom h1 {
  font-size: 18px;
}

.footercom p {
  font-size: 14px;
  line-height: 24px;
}

.footercom img {
  margin-top: 17px;
  margin-right: 15px;
}

.footertibame {
  width: 415px;
  height: 135px;
}

.footertibame h1 {
  font-size: 18px;
}

.footertibame p {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header.header {
  height: 70px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0;
  background-color: #fff;
  /* border: 1px solid green;     */
}

header.header a.logo_img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 10px;
  /* border: 1px solid green; */
}

header.header a.logo_img img {
  height: 60px;
}

header.header nav.nav {
  display: inline-block;
  vertical-align: middle;
}

header.header nav.nav ul.link_list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid orange; */
}

header.header nav.nav ul.link_list > li {
  display: inline-block;
}

nav.nav ul.link_list > li > a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
  min-width: 100px;
  font-size: 14px;
  color: #932639;
  /* border: 1px solid blue; */
}

header.header a.member {
  width: 24px;
  float: right;
  margin-top: 10px;
}

header.header a.cart {
  width: 24px;
  float: right;
  margin-top: 10px;
}

header.header a.member, header.header a.cart {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 8px 6px;
  min-width: 100px;
  font-size: 14px;
  color: #932639;
  /* border: 1px solid blue; */
}

header.header a.member img, header.header a.cart img {
  padding-right: 5px;
}

.btn_red {
  width: 146px;
  height: 40px;
  border-radius: 4px;
  background-color: #932639;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn_red:hover {
  background-color: #bc8129;
}

.btn_red_air {
  width: 146px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  color: #932639;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border: 1px solid #932639;
}

.btn_red_air:hover {
  border: 1px solid #bc8129;
  color: #bc8129;
}

.btn_red_small {
  width: 98px;
  height: 23px;
  border-radius: 3px;
  background-color: #932639;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn_red_small:hover {
  background-color: #bc8129;
}

.btn_red_small_air {
  width: 98px;
  height: 23px;
  border-radius: 3px;
  background-color: white;
  color: #932639;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border: 1px solid #932639;
}

.btn_red_small_air:hover {
  border: 1px solid #bc8129;
  color: #bc8129;
}

* {
  margin: 0;
  padding: 0;
}

.yellow {
  background-color: #fff4e3;
}

.gift_wrap {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.banner {
  display: flex;
  justify-content: center;
  height: 453px;
  align-items: center;
  background-color: #fff4e3;
  position: relative;
}

.banner .left,
.right {
  position: absolute;
}

.banner .left {
  top: 0;
  left: 0;
  max-width: 40%;
}

.banner .right {
  bottom: 0;
  right: 10px;
  max-width: 30%;
}

.banner .right img {
  margin-left: 5vw;
}

.gift_wrap .banner img {
  max-width: 100%;
}

.banner .middle .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #932639;
  font-family: "Noto Serif TC", serif;
}

.banner .middle .text h1 {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.8em;
}

.banner .middle .text h2 {
  color: #bc8129;
  font-size: 24px;
  margin-top: 1em;
}

.animation {
  background-color: #fff4e3;
  height: 507px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.animation .gif:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee01 12s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee02 14s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee03 16s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(4) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee04 18s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(5) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee05 20s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(6) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee06 22s linear infinite;
  z-index: 1;
}

.animation .gif img {
  transform: scale(0.8);
}

@keyframes marquee01 {
  0% {
    transform: translate(12vw, -5vw);
  }
  100% {
    transform: translate(-150vw, 0);
  }
}

@keyframes marquee02 {
  0% {
    transform: translate(27vw, 16vw);
  }
  100% {
    transform: translate(-150vw, 6vw);
  }
}

@keyframes marquee03 {
  0% {
    transform: translate(45vw, 5vw);
  }
  100% {
    transform: translate(-150vw, 12vw);
  }
}

@keyframes marquee04 {
  0% {
    transform: translate(60vw, 5vw);
  }
  100% {
    transform: translate(-150vw, 15vw);
  }
}

@keyframes marquee05 {
  0% {
    transform: translate(80vw, 12vw);
  }
  100% {
    transform: translate(-150vw, 20vw);
  }
}

@keyframes marquee06 {
  0% {
    transform: translate(110vw, 16vw);
  }
  100% {
    transform: translate(-150vw, 18vw);
  }
}

.animation .text_top {
  text-align: center;
  vertical-align: middle;
  color: #932639;
  font-size: 18px;
  line-height: 2em;
  z-index: 1000;
}

.animation .text_bottom {
  margin-top: 0.7em;
  text-align: center;
  color: #fff;
  font-size: 72px;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 0.7em;
  text-indent: 0.7em;
  -webkit-text-stroke: 3px #fff;
  z-index: 1000;
}

.index h1 {
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .index h1 {
    font-size: 20px;
  }
}

/*color*/
/*文字*/
/*老師範例:
.content {
  width: 1440px;
  font-size: $h1;
} */
.title_m {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 36px;
  color: #932639;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #932639;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #932639;
}

.content {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.nav {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #932639;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #932639;
  padding-top: 75px;
}

.footerfelx {
  display: flex;
  justify-content: space-between;
  max-width: 1134px;
  margin: 0 auto;
}

.footerfelx .footericon {
  width: 107px;
  height: 120px;
}

.footerfelx .footericon img {
  width: 107px;
  height: 120px;
}

.footerfelx .footericon p {
  font-size: 16px;
}

.footerfelx .footernav ul {
  width: 75px;
  height: 153px;
  padding: 0;
}

.footerfelx .footernav ul li {
  list-style: none;
  display: block;
  font-size: 18px;
  padding-bottom: 18px;
}

.footerfelx .footernav ul li a {
  text-decoration: none;
  display: block;
}

.footercom {
  width: 255px;
  height: 152px;
}

.footercom h1 {
  font-size: 18px;
}

.footercom p {
  font-size: 14px;
  line-height: 24px;
}

.footercom img {
  margin-top: 17px;
  margin-right: 15px;
}

.footertibame {
  width: 415px;
  height: 135px;
}

.footertibame h1 {
  font-size: 18px;
}

.footertibame p {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header.header {
  height: 70px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0;
  background-color: #fff;
  /* border: 1px solid green;     */
}

header.header a.logo_img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 10px;
  /* border: 1px solid green; */
}

header.header a.logo_img img {
  height: 60px;
}

header.header nav.nav {
  display: inline-block;
  vertical-align: middle;
}

header.header nav.nav ul.link_list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid orange; */
}

header.header nav.nav ul.link_list > li {
  display: inline-block;
}

nav.nav ul.link_list > li > a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
  min-width: 100px;
  font-size: 14px;
  color: #932639;
  /* border: 1px solid blue; */
}

header.header a.member {
  width: 24px;
  float: right;
  margin-top: 10px;
}

header.header a.cart {
  width: 24px;
  float: right;
  margin-top: 10px;
}

header.header a.member, header.header a.cart {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 8px 6px;
  min-width: 100px;
  font-size: 14px;
  color: #932639;
  /* border: 1px solid blue; */
}

header.header a.member img, header.header a.cart img {
  padding-right: 5px;
}

.btn_red {
  width: 146px;
  height: 40px;
  border-radius: 4px;
  background-color: #932639;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn_red:hover {
  background-color: #bc8129;
}

.btn_red_air {
  width: 146px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  color: #932639;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border: 1px solid #932639;
}

.btn_red_air:hover {
  border: 1px solid #bc8129;
  color: #bc8129;
}

.btn_red_small {
  width: 98px;
  height: 23px;
  border-radius: 3px;
  background-color: #932639;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn_red_small:hover {
  background-color: #bc8129;
}

.btn_red_small_air {
  width: 98px;
  height: 23px;
  border-radius: 3px;
  background-color: white;
  color: #932639;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border: 1px solid #932639;
}

.btn_red_small_air:hover {
  border: 1px solid #bc8129;
  color: #bc8129;
}

* {
  margin: 0;
  padding: 0;
}

.yellow {
  background-color: #fff4e3;
}

.gift_wrap {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.banner {
  display: flex;
  justify-content: center;
  height: 453px;
  align-items: center;
  background-color: #fff4e3;
  position: relative;
}

.banner .left,
.right {
  position: absolute;
}

.banner .left {
  top: 0;
  left: 0;
  max-width: 40%;
}

.banner .right {
  bottom: 0;
  right: 10px;
  max-width: 30%;
}

.banner .right img {
  margin-left: 5vw;
}

.gift_wrap .banner img {
  max-width: 100%;
}

.banner .middle .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #932639;
  font-family: "Noto Serif TC", serif;
}

.banner .middle .text h1 {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.8em;
}

.banner .middle .text h2 {
  color: #bc8129;
  font-size: 24px;
  margin-top: 1em;
}

.animation {
  background-color: #fff4e3;
  height: 507px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.animation .gif:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee01 12s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee02 14s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee03 16s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(4) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee04 18s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(5) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee05 20s linear infinite;
  z-index: 1;
}

.animation .gif:nth-child(6) {
  position: absolute;
  top: 0;
  right: 0;
  animation: marquee06 22s linear infinite;
  z-index: 1;
}

.animation .gif img {
  transform: scale(0.8);
}

@keyframes marquee01 {
  0% {
    transform: translate(12vw, -5vw);
  }
  100% {
    transform: translate(-150vw, 0);
  }
}

@keyframes marquee02 {
  0% {
    transform: translate(27vw, 16vw);
  }
  100% {
    transform: translate(-150vw, 6vw);
  }
}

@keyframes marquee03 {
  0% {
    transform: translate(45vw, 5vw);
  }
  100% {
    transform: translate(-150vw, 12vw);
  }
}

@keyframes marquee04 {
  0% {
    transform: translate(60vw, 5vw);
  }
  100% {
    transform: translate(-150vw, 15vw);
  }
}

@keyframes marquee05 {
  0% {
    transform: translate(80vw, 12vw);
  }
  100% {
    transform: translate(-150vw, 20vw);
  }
}

@keyframes marquee06 {
  0% {
    transform: translate(110vw, 16vw);
  }
  100% {
    transform: translate(-150vw, 18vw);
  }
}

.animation .text_top {
  text-align: center;
  vertical-align: middle;
  color: #932639;
  font-size: 18px;
  line-height: 2em;
  z-index: 1000;
}

.animation .text_bottom {
  margin-top: 0.7em;
  text-align: center;
  color: #fff;
  font-size: 72px;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 0.7em;
  text-indent: 0.7em;
  -webkit-text-stroke: 3px #fff;
  z-index: 1000;
}

.index h1 {
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .index h1 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */