.backend_headerone {
  width: 1440px;
  height: 70px;
  background-color: $color_red;
  .backend_headertextone {
    padding: 25px 0 0 30px;
    color: white;
    font-size: $h3;
  }
}

.backend_logoutone {
  width: 1440px;
  height: 150px;
  text-align: right;
  margin-top: 50px;
  padding-top: 30px;
  padding-right: 222px;
  span {
    //border: 1px solid red;
    font-size: 18px;
    border-bottom: 2px solid $color_black;
  }
}

.backend_top .box {
  text-align: center;
  border: 1px solid $color_red;
  width: 182px;
  height: 133px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.backend_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  margin-top: 30px;

  h1 {
    font-size: 24px;
    padding-top: 0.2em;
    margin-top: 15px;
  }
  ul {
    list-style: none;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: $color_black;
  }
  .backend_top a:nth-child(1) .box {
    color: #fff;
    background-color: $color_red;
    border-radius: 4px;
  }
}

.backend_searchtwo {
  width: 280px;
  height: 40px;
  margin: 10px 0px 0px 943px;
  display: flex;
  border: #000 1px solid;
}

.backend_memberchange_description {
  font-size: 14px;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.backend_memberchange_middle {
  border: 1px solid black;
  border-radius: 4px;
  width: 997px;
  height: 586px;
  margin-left: 222px;
  margin-right: 222px;
  margin-top: 30px;
}
.backend_memberchange_status_title {
  font-size: 14px;
  text-align: center;
  padding-left: 20px;
}
.backend_memberchange_status {
  margin-top: 60px;
  display: flex;
  span {
    padding-right: 40px;
  }
}

.backend_memberchange_reason {
  padding-top: 136px;
}

.backend_memberchange_create {
  padding-top: 10px;
  font-size: 14px;
  padding-left: 20px;
  margin-top: 25px;
}

button.backend_button2 {
  width: 146px;
  height: 40px;
  border-radius: 4px;
  background-color: $color_red;
  color: $color_white;
  font-size: $h4;
  border: none;
  display: inline-block;
  line-height: 12px;
  text-decoration: none;
  text-align: center;
  margin-left: 647px;
  &:hover {
    background-color: $color_gold;
    color: $color_white;
  }
}
