.cards_upload_aside{
    width: 720px;
    height: 100vh;
    background-color: $color_rice;
    overflow: auto;
    position: fixed;
    box-shadow: 0px 0px 29px rgba($color: #000 , $alpha: .25);

    .cards_upload_aside_prev{
        display: flex;
        align-items: center;
        padding: 30px;
        margin-bottom: 30px;

        // border-bottom:0.5px solid rgba($color: $color_red, $alpha: 0.2);

        
        
        a{
            padding: 5px;
        }

        h2{
            font-size: $h2;
            font-weight: $w2;
            font-family: $f2;
            color: $color_red;
        }
    }

    // h3{
    //     width: 85%;
    //     @include subtitle();
    //     margin: 20px auto;
    // }



    .cards_upload_left_box{
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;

        h3{
            color: $color_red;
            padding-left: 10px;
            margin-bottom: 20px;
        }
        
        .cards_upload_leftItem{
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            
            .cards_upload_head{
                display: flex;
                align-items: center;
                // border: 1px solid $color_red;
                padding: 10px;
                width: 186px;
                height: 65px;
                border-radius: 3px;
                box-sizing: border-box;

                margin: 10px 0 10px 0;

                &:hover{
                    border: 1px solid $color_red;
                    cursor: pointer;
                }
                       
                p{
                    padding-left: 10px;
                }


            }
            .cards_upload_active{
                border: 1px solid $color_red;
            }
            
        }
        
        .cards_upload_head_1{
            width: 420px;
            height: 420px;
            // border: 1px dashed #666;
            text-align: center;
            position: relative;
            cursor: pointer;
            

            span{
                font-size: 30px;
                
            }

          

            .cards_upload_line1{
                position: absolute;
                right: 0px;
                top: 0px;
                width: 1px;
                height: 100%;
                background-image: linear-gradient(to bottom, #666 0%, #666 55%, transparent 50%);
                background-size: 100% 14px;
                background-repeat: repeat-y;
            }

            .cards_upload_line2{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 1px;
                height: 100%;
                background-image: linear-gradient(to bottom, #666 0%, #666 55%, transparent 50%);
                background-size: 100% 14px;
                background-repeat: repeat-y;
            }
            .cards_upload_line3{
                position: absolute;
                left: 0px;
                top: 0px;
                height: 1px;
                width: 100%;
                background-image: linear-gradient(to right, #666 0%, #666 55%, transparent 50%);
                background-size: 16px 1px;
                background-repeat: repeat-x;
            }
            .cards_upload_line4{
                position: absolute;
                left: 0px;
                bottom: 1px;
                height: 1px;
                width: 100%;
                background-image: linear-gradient(to right, #666 0%, #666 55%, transparent 50%);
                background-size: 16px 1px;
                background-repeat: repeat-x;
            }
        
        
        }


    }

    .cards_upload_sub{
        display: block;
        margin: 20px auto;
        transform: translateX(75%);
    }

}












// ========================右側顯示=====================================================
.cards_upload_main{
    margin-left: 720px;
    height: 100vh;
    background-color: $color_white;


    .cards_upload_main_webcontrol{
        text-align: center;

        img{
            margin: 30px;
        }
    }


    .cards_upload_TV{
        margin: 0 auto;
        

        .cards_upload_TV2{
            box-shadow: 0px 0px 20px rgba($color: #000, $alpha: .1);
            width: 90%;
            margin: 0 auto;

            .iframe{
                z-index: 1;
            }
            
        }
    }


    .cards_upload_bottom_ic{
        width: 90%;
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        
        a{
            text-decoration: none;

            div{
                display: flex;
                align-items: center;
    
                p{
                    white-space: nowrap;
                    @include content_text();
                    padding-left: 5px;
                    
                }
            }
        }

    }
    
}