//注意
// body {
//   overflow-x: hidden;
// }

.asideCart a {
  text-decoration: none;
  color: #fff;
}

.asideCart {
  width: 500px;
  background-color: #ffffff;
  position: absolute;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 25px 2em 3em 2em;
  box-shadow: 0 0 5px hsla(240, 40%, 15%, 0.6);
  transform: translateX(0);
  transition: all 0.5s;
  z-index: 101;
  transform: translateX(500px);
  &.active {
    transform: translateX(0px);
  }
  @include m {
    width: 100%;
  }
  .title {
    margin-bottom: 2em;
    @include m {
      font-size: 16px;
    }
    .text {
      text-align: center;
      font-size: $h3;
      color: $color_red;
    }
    img {
      position: absolute;
      top: 1.5em;
      right: 1.5em;
      cursor: pointer;
    }
  }
}
.cart_mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.cart_div {
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
  .cart_list {
    ul {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5em 0;
        img {
          width: 100px;
        }
        .text {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          align-items: space-between;
          margin: 0 2em;
          @include m {
            font-size: 12px;
          }
          .name {
            margin-bottom: 1em;
          }
          .price {
            margin-top: 1em;
          }
        }
        .delete {
          width: 24px;
          cursor: pointer;
        }
      }
      hr {
        margin-bottom: 0.5em;
        border: none;
        height: 1px;
        background-image: linear-gradient(
          to right,
          #b1b1b1 0%,
          #a7a7a7 50%,
          transparent 0%
        );
        background-size: 10px 1px;
        background-repeat: repeat-x;
      }
    }
  }
}

.asideCart .bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8em;
  width: 81%;
  margin: auto;
  font-size: 18px;
  @include m {
    font-size: 16px;
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    p {
    }
  }
}
.asideCart button {
  width: 146px;
  height: 40px;
  background-color: $color_red;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 44%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 3em;
  &:focus {
    outline: none;
  }
}

.asideCart button:hover {
  background-color: $color_gold;
}
