.cards_skin_aside{
    width: 365px;
    height: 100vh;
    background-color: $color_rice;
    overflow: auto;
    position: fixed;
    box-shadow: 0px 0px 29px rgba($color: #000 , $alpha: .25);
    

    .cards_skin_aside_prev{
        display: flex;
        align-items: center;
        padding: 30px;
        margin-bottom: 30px;

        // border-bottom:0.5px solid rgba($color: $color_red, $alpha: 0.2);

        
        
        div{
            padding: 5px;
        }

        h2{
            font-size: $h2;
            font-weight: $w2;
            font-family: $f2;
            color: $color_red;
        }
    }

    .cards_skin_control_oo{
        display: flex;
        justify-content: center;

        .cards_skin_control{
            display: flex;
            justify-content: center;
            border: 1px solid $color_red;
            border-radius: 4px;
            cursor: pointer;
    
            .cards_skin_editbtn{
                width: 153px;
                height: 72px;
                background-color: none;   
                margin: 3px;
        
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                transition: .2s ease-out;
        
                P{
                    color: $color_gray2;
                }

                h4{
                    font-size: 24px;
                    color: $color_gray2;
                }

                img {
                    position: relative;
                    left: -2000px;
                    filter: drop-shadow($color_gray2 2000px 0);
                }

                &:hover{
                    background-color: $color_red; 
                    box-shadow: 0px 0px 29px rgba($color: #000 , $alpha: .25);
    
                    P{
                        color: white;
                    }
    
                    h4{
                        font-size: 24px;
                        color: white;
                    }
    
                    img {
                        position: relative;
                        left: -2000px;
                        filter: drop-shadow(#fff 2000px 0);
                    }
                }
                
            }

            

            .cards_skin_editbtn_active{
                background-color: $color_red; 
                box-shadow: 0px 0px 29px rgba($color: #000 , $alpha: .25);

                P{
                    color: white;
                }

                h4{
                    font-size: 24px;
                    color: white;
                }

                img {
                    position: relative;
                    left: -2000px;
                    filter: drop-shadow(#fff 2000px 0);
                }




            }
        }
    }

    .cards_skin_hicolor{
        display: flex;
        justify-content: space-between;
        margin:32px auto 0;
        width: 310px;
        align-items: center;
        p{
            @include content_text();
            font-size: 18px;
            font-weight: bold;
        }
        span{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: palevioletred;
        }
    }



    hr{
        margin:32px auto 32px;
        width: 320px;
        border-top:0.1px #333 solid;
    }


    h3{
        width: 310px;
        margin: auto;
    }

    .cards_skin_wox{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: auto;


        .cards_skin_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
        }
    }
}


// ========================右側顯示=====================================================
.cards_skin_main{
    margin-left: 365px;
    height: 100vh;
    background-color: $color_white;

    .cards_skin_main_webcontrol{
        text-align: center;

        img{
            margin: 30px;
        }
    }

    .cards_skin_TV{
        margin: 0 auto;
        
        .cards_skin_TV2{
            box-shadow: 0px 0px 20px rgba($color: #000, $alpha: .1);
            width: 90%;
            margin: 0 auto;

            .iframe{
                z-index: 1;
            }
        }
    }

    .cards_skin_bottom_ic{
        width: 90%;
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        
        a{
            text-decoration: none;

            div{
                display: flex;
                align-items: center;
    
                p{
                    white-space: nowrap;
                    @include content_text();
                    padding-left: 5px;
                    
                }
            }
        }

    }
}