/*首頁 banner*/
.index_banner{
  position: relative;
  width: 100%;
  padding-top: 80px;
  
  // border: 1px solid red;

  .index_banner_img{
    position: relative;
    display: block;
    width: 90%;
    height: auto;
    font-size: 0;

    .index_overlay{
      position: absolute; 
      background: $color_black;
      width: 100%;
      height: 100%;
      opacity: .3; 
      z-index: 1;
      
    }

    img{
      width: 100%;
      height: 100%;
      z-index: 0;
      // border: 1px solid red;
    }
  }
  
   

  .index_title{
    /* border: 1px solid red; */
    position: absolute;
    top: 50vh;
    left: 5vw;
    z-index: 2;
  }
}



.index_banner_flower{
  display: block;
  position: absolute;
  right: -50px;
  top: 20em;
  z-index: 2;

  // animation-name: example;
  // animation-duration: 3s;

    img{
      width: 25vw;
      height: auto;
    }  
      
  }
  
//   @keyframes example {
//     0%  {
//       opacity: .3;  
//       transform: rotate(200deg);
//       transform: scale(3);
//     }
//     100% {
//       opacity: 1;
//       transform: rotate(0);
//       transform: scale(1);
//     }

// }



[data-aos="index-anim"] {
  opacity: .3;
  transform: scale(3);
  transition-property: transform, opacity, transform;
  
    &.aos-animate {
      opacity: 1;
      transform: scale(1);
      transform: rotate(200deg);
    }
}



.index_title h1{
  @include title_m_white();
}

.index_title p{
  @include subtitle_m_white();
}



/*首頁輪播圖*/

.swiper {
  width: 100%;
  height: 100%;
  margin: 100px auto 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 600px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  overflow: hidden;
  
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*喜帖上半部簡介*/
.cards_intro_content{
  max-width: 1200px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: 690px auto;

  // border: 1px solid orange;
  
  .cards_intro_img{ 
    // border: 1px solid green;

    img{
    width: 100%;
    max-width: 690px;
    max-height: 470px;
    
    // border: 1px solid red;
    }
    
  }
} 


.index_intro_text{
    display: flex;
    justify-content: center;
    align-items: center;

  .index_center{
    display: block;
    text-align: center;
    
    // border: 1px solid orange;

    h2{
      @include title();
      display: block;
      // border: 1px solid blue;
    }

    p{
      @include subtitle_black();
      display: block;
      // border: 1px solid purple;
    }

  } 

}


/*首頁英文文字動畫*/

section.index_words{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FFFCF7;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;

  margin: 100px auto;
    
  .index_words{
      
      p{
        display: block;
        text-align: center;
        text-overflow: hide;
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 160px;
        color: $color_red;

        // border: 1px solid rosybrown;
      }
  }

}



/*首頁下半部簡介*/
.index_intro_content{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: auto 800px;
  margin: 100px 0;

  .index_intro_img{

    img{
      width: 100%;
      max-width: 811px; 
      max-height: 524px;
      
      // border: 1px solid red;
    }
  }  
}


/*首頁影片*/

.intro_video{
  text-align: center;
  position: relative;
  margin: 100px auto 0;

  video{
    width: 100%;
    // min-height: 100vh;
    height: auto;
    
    z-index: 0; 
  }

  .index_title{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;   
  } 
}






/*首頁婚禮小物*/

.index_gift{
  max-width: 1200px;
  width: 100%;
  margin: 180px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  .index_gift_link{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .circle{
      background-repeat: no-repeat;
      background-size: contain;
      text-decoration: none;
      color: $color_red;
      border-radius: 50%;
      text-align: center;
      transition: opacity .3s;
      display: flex;
      align-items: center;
      justify-content: center;
      
      border: 1em solid $color_rice;
    }
  }

}

/*婚禮小物圖片*/
.index_gift_1{
  background-image: url("../images/index_gift_1.jpg");
  transform: translate(-30%, 50%);
  
}

.index_gift_2{
  background-image: url("../images/index_gift_2.jpg");
  transform: translate(80%, -120%);
  
}

.index_gift_3{
  background-image: url("../images/index_gift_3.jpg");
  transform: translate(20%, -10%);
  
}

.index_gift_4{
  background-image: url("../images/index_gift_4.jpg");
  transform: translate(-20%, -10%);
  
}

.index_gift_5{
  background-image: url("../images/index_gift_5.jpg");
  transform: translate(-30%, 0);

}

.index_gift_6{
  background-image: url("../images/index_gift_6.jpg");
  transform: translate(-100%, 60%);
  
}

.index_gift_7{
  background-image: url("../images/index_gift_7.jpg");
  transform: translate(40%, -90%);
  width: 200px;
  height: 200px;
}


.circle_hover{
  position: absolute;
  // transform: translateY(-100%);
  background: $color_white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
  border-radius: 50%;

  border: 1em solid $color_rice;
  
}


.index_circle_1{
  @include circle(200px);
}
.index_circle_2{
  @include circle(230px);
}
.index_circle_3{
  @include circle(230px);
}
.index_circle_4{
  @include circle(320px);
}
.index_circle_5{
  @include circle(230px);
}
.index_circle_6{
  @include circle(230px);
}
.index_circle_7{
  @include circle(200px);
}


.hover_text{
  @include subtitle_m_red();
  color: $color_gold;
  width: 100%;
  opacity: 0;
  z-index: 1;
}


.circle:hover {

  .circle_hover{
    opacity: 1;
  }

  .hover_text{
    opacity: 1;
  }
}

.rwd1, .rwd2, .rwd3{
  justify-content: space-between;
}






/*婚禮小物文案*/

.index_gift_intro{
  margin: 40px auto 60px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h2{
    @include title();
  }

  p{
    @include subtitle_black();
  }
  
}

