@mixin layout($w) {
    @if $w == 100% {
     width:  100%;
    }@else {
       width: $w;
       margin: 0 auto;
    }
}


@mixin t() {
    @media screen and (max-width: $rwd-t) {
          @content;
    }
}

@mixin m() {
    @media screen and (max-width: $rwd-m) {
          @content;
    }
}


// ===============標題字體大小=====================================

@mixin title($f, $w, $h , $c) {
   
    font-family: $f; //明體
    font-weight: $w; //medium 700
    font-size: $h; //36 px
    color: $c; 
    
    @content;
}

