.header{
    display: flexbox;
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    font-size: 0;
    background-color: $color_white;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    
    z-index: 100;
    

    .logo_img{
        display: inline-flex;
        vertical-align: middle;
        margin: 10px 20px 0 10px;
        // border: 1px solid orange;

        img{
            height: 60px;
            padding-bottom: 10px;
            // border: 1px solid green;
        }
    }

    nav{
        display: inline-flex;
        vertical-align: middle;

        .link_list{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                display: inline-block;

                a{
                    display: inline-block;
                    text-decoration: none;
                    text-align: center;
                    padding: 8px 16px;
                    min-width: 100px;

                    @include content_text_red();
                    // border: 1px solid red;
                }

                & :hover{
                    color: $color_gold;
                }
            }
        }
    }

    .float_right{
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: right;
        text-align: center;
        padding: 5px 0 8px 0;
        min-width: 120px;
        width: 24px;
        float: right;
        margin-top: 10px;
        margin-right: 0;

        // border: 1px solid red;

        @include content_text_red();

        & :hover{
            color: $color_gold;
        }

        img{
            padding: 0 5px 0 5px;      
            // border: 1px solid red;
           
        }

    }
 
}