// .btn {
//   @include rect(120px , 40px);

// }

// .card {
//   @include rect(250px , auto);
//   background-color: #eee;
// }老師範例

//最多按紐 實心
.btn_red_40{
    width: 146px;
    height: 40px;
    border-radius: 4px;
    background-color: $red ;
    color: $white;
    font-size: $h4 ;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: $gold;    
    }
}
//最多按紐 空心
.btn_red_40_air{
    width: 146px;
    height: 40px;
    border-radius: 4px;
    background-color: $white ;
    color: $red;
    font-size: $h4 ;
    border: none;
    cursor: pointer;
    border: 1px solid $red;

    &:hover{
        border: 1px solid $gold;  
        color: $gold;  
    }
}

//最多按紐之二 實心
.btn_red_23{
    width: 98px;
    height: 23px;
    border-radius: 3px;
    background-color: $red ;
    color: $white;
    font-size: $h4 ;
    border: none;
    cursor: pointer;

    &:hover{
        background-color: $gold;    
    }
}

//最多按紐之二 空心
.btn_red_23_air{
    width: 98px;
    height: 23px;
    border-radius: 3px;
    background-color: $white ;
    color: $red;
    font-size: $h4 ;
    border: none;
    cursor: pointer;
    border: 1px solid $red;

    &:hover{
        border: 1px solid $gold;  
        color: $gold;
    }
}