<div class="page_number">
  <ul class="pagination">
    <a href="#">
      <li>
        <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 5L7.5 0.669872L7.5 9.33013L0 5Z" fill="currentColor" />
        </svg>


      </li>
    </a>
    <a href="#">
      <li>1</li>
    </a>
    <a href="#">
      <li>2</li>
    </a>
    <a href="#">
      <li>3</li>
    </a>
    <a href="#">
      <li>4</li>
    </a>
    <a href="#">
      <li>5</li>
    </a>
    <a href="#">
      <li>6</li>
    </a>
    <a href="#">
      <li>7</li>
    </a>
    <a href="#">
      <li>
        <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 5L0.5 9.33013L0.5 0.669873L8 5Z" fill="currentColor" />
        </svg>
      </li>
    </a>
  </ul>
</div>